/*info : Portfolio Romain Nim 2019-2020*/
/* GENERAL start : Color, Font, Title, List, Link */
/* Color  */
.color-green{color: #00FF4A}
.color-dblue{color: #004567}
.color-blue{color: #40A3F0}
.color-dgray{color: #565656}
.color-gray{color: #707070}
.color-lgray{color: #b7b7b7}
.color-red{color: red}
/* Font */
body{
    font-family: 'Muli', sans-serif;
    width: 100%;
}
/* Title */
h1{
    margin: 0;
}
h2 {
    font-family: 'Leelawadee', sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0 15px 0 0;
} 
h2 + p {
    margin-top: 10px;
}
p{
    font-size: 1.2em;
}
/* List */
ul{
    padding:0;
}
li {
    list-style: none;
}
/* Link */
a{
    text-decoration: none;
    color: #000;
}
a:visited, a:hover{
    text-decoration: underline;
}
#logo a:hover, #menu a:hover, .showcase-filter a{
    text-decoration: none;
}  
/*General custom elements*/
.ico-soft{
    width: 50px;
    margin-right: 10px;
}
/* GENERAL end : Color, Font, Title, List */


/* HEADER start : Top-header, Bottom-header */
header p{
    font-size: 1em;
}
/* Top header  */
#top-header{
    border-bottom: 1px dotted #707070;
    display:flex;
    justify-content: space-between;
}
#top-header p{
   display: inline-block;
}   
#top-header #status .dot{
    height: 10px;
    width: 10px;
    background-color: #00FF4A;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
#top-header #location{
    position: relative;
}
#top-header #location img{
    height: 20px;
    position: absolute;
    top: 16px;
    left: -25px;
}
#status, #location{
    margin: 0 20px;
}
/* Bottom header */ 
#bottom-header{
    width: 80%;
    margin: 30px auto 40px;
}
#logo-menu{
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
}
#bottom-header #logo img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
#menu{
    display: flex;
    height:0%;
    margin:0;
}
#menu li:first-child{
    border-right: 1px solid #000;
 }
#menu li:first-child a{
    padding-right: 20px;
 }
#menu a{
    padding-left: 20px;
    transition: all 0.15s ease-in-out;
    font-size: 1.2em;
}
#menu > a:link, a:visited{
    color: #000;
 }
#menu a:hover, #menu a.current{
    color: #40A3F0;
    transition: all 0.15s ease-in-out;
}
#menu a.current{
    font-weight: bold;
}
/* HEADER end : Top-header, Bottom-header */


/* CONTAINER start : Breadcrumb, Content Home / Video / About / Project  */
.content{
    width: 80%;
    margin: 0 auto;
}
.content p{
    line-height: 1.5;
}
/* Showcase Filter */
.content .showcase-filter{
    margin: 20px 0;
    font-size: 0.5em;
}
.content .showcase-filter a{
    font-size: 1.4em;
    background-color: #B0C5D0;
    color: #fff;
    border-radius: 20px;
    padding: 6px 20px;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}
.content .showcase-filter .bc-project{
    display: block;
    color: #40A3F0;
    margin: 14px 0 0 10px;
    padding:0;
    font-size: 1.4em;
}

.content .showcase-filter a:hover{
    background-color: #40A3F0;
    transition: all 0.15s ease-in-out;
}
.content .showcase-filter a.active{
    background-color: #565656;
}
.content .showcase-filter a:first-child{
    margin-left: 0px;
}

/* Content Home */
#gallery{
    display: flex;  
    flex-wrap: wrap;
    justify-content:space-between;
}
#gallery::after {
    content: '';
    flex:auto;
}
#gallery .img-wrapper{
    width: 33%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 352px;
    max-height: 280px;
    margin-bottom:5px;
}
#gallery .img-wrapper:last-child{
    margin-left:0.4%;
}
#gallery .img-wrapper p{
    font-family: 'Reenie Beanie', sans-serif ;
    font-size:2em;
}
#gallery .img-wrapper img{
    max-width: 100%;
    height: 100%;
}
#gallery .img-wrapper .img-layer{
    position: absolute;
    display: flex;
    background-color: #004567;
    width: 100%;
    height: 4px;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}
#gallery .img-wrapper .img-layer p{
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
#gallery .img-wrapper:hover .img-layer{
    opacity: 0.95;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
}
#gallery .img-wrapper:hover .img-layer p{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.15s;
}
/* Content Video */
#video-wrapper{
    display: flex;
    margin: 20px 0;
}
#video-wrapper #video-placeholder{
    margin-right: 40px;
    padding-top: 30%;
    width: 100%;
    position: relative;
}
#video-wrapper #video-placeholder iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left:0; bottom: 0; right: 0;
}
#content-video .sidebar{
    width: 65%;
}
#content-video .sidebar article{
    margin-bottom: 40px;
}
#content-video .sidebar li{
    margin-bottom: 10px;
}
#content-video .sidebar li img{
    height: 15px;
    margin-right: 5px;
}
#content-video .sidebar li a:hover{
    color:#40A3F0;
}
#content-video .sidebar li a:visited{
    color:#707070;
}
#content-video .sidebar article #equipment-list li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #40A3F0;
    display: inline-block;
    width: 1em;
}
/* Content About*/
.about-gp, .about-subgp{
    display: flex; 
}
.about-gp{
    width:100%;
}
.content-about .img-wrapper{
    margin-right: 50px;
    width: 40%;
}
.img-wrapper img{
    width: 100%;
}
.profil-description{
    width:100%;
    padding-right: 40px;
}
.profil-description p{
    margin-top: 25px;
}
.about-subgp > article{
    margin-right: 100px;
}
.skills img{
    width: 25px;
}
.filled-bdot{
    height: 10px;
    width: 10px;
    background-color: #40A3F0;
    border: 1px solid #40A3F0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}
.empty-bdot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #40A3F0;
    display: inline-block;
}
.skill-gp{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.dot-gp{
    margin-left: 15px;
}
.tooltip-text{
    width: 110px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    padding: 5px 2px;
    position: absolute;
    right: 101%;
    font-size: 0.7em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    text-align: center;
}
.tooltip-text::after{
    content: "";
    position: absolute;
    top: 16%;
    left: 97%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
}
.skill-gp:hover .tooltip-text {
    visibility: visible;
    opacity: 0.8;
}
h2.skill-title{
    margin-top:40px;
}


/* Content Project */
.project-page{
    display: flex; 
}
.showcase{
    box-shadow: 4px 4px 15px grey;
    width:55%;
}
.showcase img{
    width: 100%;
} 
.showcaseinfo{
    padding-left: 50px;
    width: 45%;
}
.showcaseinfo .btn-back, .showcaseinfo .blue-link{
    color: #40A3F0;
}
.showcaseinfo .btn-back{
    display: inline-block; 
    margin-top: 40px;
}
.showcaseinfo .blue-link{
    margin-left: 5px;
    font-size:1.3em;
}
.showcaseinfo .next-project{
    font-size: 1em;
    margin-top: 40px;
    float:right; 
}
.showcaseinfo .mockup-gp{
    display: flex;
}
.showcaseinfo .weblive{
    font-size: 0.8em;
    margin:0;
}
.showcaseinfo .wrap-img-project{
    width: 150px;
    height: 150px;
    border: 2px solid #40A3F0;
    margin-right: 5px;
    overflow: hidden;
}
.showcaseinfo .wrap-img-project img{
    width:100%;
    height: auto;
}
.showcaseinfo h3{
    margin: 30px 0 8px;
}

/* CONTAINER end : Breadcrumb, Content Home / Video / About / Project  */


/* FOOTER start */
footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    margin-top: 10px;
}
footer p{
    margin: 12px 20px;
    font-size: 1em;
}
footer a{
    color: #000;
    font-weight: 500;
}
/* FOOTER end */